### Import Lib Yfinance

In [13]:
import  yfinance as yf
import pandas as pd
import json

In [23]:
with open("ativos.json", "r", encoding="utf-8") as f:
    dados = json.load(f)       

df = pd.DataFrame(dados["ativos"])
df.head()

               ativo  ticker
0    Banco do Brasil   BBAS3
1             Itaúsa   ITSA4
2        Banco Inter  INBR32
3  Banco BTG Pactual  BPAC11
4        Banco Safra   BSFR3

In [24]:
ticker = df.loc[2, 'ticker']
period = '5d'

ticker_obj = yf.Ticker(f'{ticker}.SA')
print(ticker_obj)

yfinance.Ticker object <INBR32.SA>

In [25]:
ticker_obj.history(period=period)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-06-02 00:00:00-03:00,41.349998,41.490002,39.290001,39.599998,2752015,0.0,0.0
2025-06-03 00:00:00-03:00,39.560001,39.720001,38.830002,38.830002,1495040,0.0,0.0
2025-06-04 00:00:00-03:00,39.000000,39.779999,38.689999,39.099998,1570489,0.0,0.0
2025-06-05 00:00:00-03:00,39.099998,40.330002,38.900002,39.400002,2315822,0.0,0.0
2025-06-06 00:00:00-03:00,39.450001,39.910000,38.330002,38.770000,693088,0.0,0.0

In [30]:
def return_price(ticker, period = "1y"):
    ticker_obj = yf.Ticker(f'{ticker}.SA')
    hist = ticker_obj.history(period=period)["Close"]
    hist.index = hist.index.strftime('%Y-%m-%d')
    hist = round(hist, 2)
    # Limit the number of rows to 30

    if len(hist) > 30:
        slice_size  = int(len(hist) / 30)
        hist = hist.iloc[::slice_size][::-1]
    return hist.to_json()

In [31]:
return_price(df.loc[2, 'ticker'])

'{"2025-06-04":39.1,"2025-05-23":40.32,"2025-05-13":39.5,"2025-04-30":37.75,"2025-04-16":32.88,"2025-04-04":31.49,"2025-03-25":32.08,"2025-03-13":32.41,"2025-02-27":31.25,"2025-02-17":30.84,"2025-02-05":30.44,"2025-01-24":28.81,"2025-01-14":26.21,"2025-01-02":24.79,"2024-12-17":26.4,"2024-12-05":26.7,"2024-11-25":32.02,"2024-11-11":35.07,"2024-10-30":36.95,"2024-10-18":36.75,"2024-10-08":34.23,"2024-09-26":35.96,"2024-09-16":39.29,"2024-09-04":40.51,"2024-08-23":40.91,"2024-08-13":38.71,"2024-08-01":36.16,"2024-07-22":38.42,"2024-07-10":33.4,"2024-06-28":33.6,"2024-06-18":30.39,"2024-06-06":32.08}'